[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pydantic = "*"
fastapi = {extras = ["all"], version = "*"}
transformers = "*"
pypdf = "*"
pypdf2 = "*"
pymupdf = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
